*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    /* justify-content: center; */
    background-color: rgb(97, 97, 97);
}
header{
    margin-top: 0px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    /* border: .1rem solid purple; */
    padding-bottom: 10px;
    background-color: rgb(143, 143, 143);
    background-size: cover;
    background-position-y: center;

}
nav{
    display: flex;
    width: 50%;
    justify-content: space-between;
    
    
}
#title{

    font-size:29px;
    text-align: center;
}
main{
    display:flex;
    justify-content: center;;
}
.interests{
    padding: 1rem;
    width: 15rem;
    margin: 1rem 1rem 1rem 0; /* No left margin */
    background-color: rgb(240, 239, 239);
    border-radius: .5em;
    box-shadow: 1px 2px 2px gray;
}
h2{
    text-align: center;
}
.images{
    max-width: calc(100% - .1rem);
    display: block;
    margin-bottom: .5rem;
}
#footer .linkedin {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: -78px 0;
  }
  #footer a {
    height: 56px;
    width: 56px;
    display: inline-block;
    margin: 10px;
  }
  #footer a:hover {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
  }
  
  #footer .linkedin:hover {
    background-position: -78px -56px;
  }
  .bg-dark-1{
      
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position:fixed;
      left:0px;
      bottom:0px;
      width:100%;
  }