*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    /* justify-content: center; */
    background-color: rgb(97, 97, 97);
}
header{
    margin-top: 0px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    /* border: .1rem solid purple; */
    padding-bottom: 10px;
    background-color: rgb(143, 143, 143);
    background-size: cover;
    background-position-y: center;

}

nav{
    display: flex;
    width: 50%;
    justify-content: space-between;
    
    
}
#homeQuote{
    display: flex;
    flex-direction: column;
    align-items: center;;
    width: 100%;
    /* border: .1rem solid blue; */
}
article{
    margin-top: 3%;
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
}
#james{
   width: 35%;
}
/* #linkedInA{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; */
    /* border: .1rem solid rgb(255, 0, 149); */
    /* text-align: center;
    
}
#linkedInImg{
    display: flex;
    width: 5%;
    align-items: center;
    padding-left: 50%;
}
footer{
    
    display: flex;
    justify-content: center;
    align-items: flex-end; */
    /* border: .1rem solid blue; */
    /* position: absolute;
    bottom: 0;

} */


#footer .linkedin {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -78px 0;
}
#footer a {
  height: 56px;
  width: 56px;
  display: inline-block;
  margin: 10px;
}
#footer a:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

#footer .linkedin:hover {
  background-position: -78px -56px;
}
.bg-dark-1{
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}
 
